html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter Tight', sans-serif;
    color: var(--black);
    background-color: var(--white);
    height: 100%;
    min-width: 1440px;
}
span {
    font-family: 'Inter Tight';
    display: block;
}
header {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}
.header_nav_ul {
    display: flex;
    list-style: none;
}
.img_logo {
    width: 32px;
    height: 32px;
}
.logo {
    display: flex;
}
.logo_text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 8px;
}
.header_nav {
    margin: auto;
}
.header_nav_ul>li>a {
    font-family: 'Inter Tight', sans-serif;
    margin-left: 24px;
    text-decoration: none;
    font-size: 18px;
}
.header_nav_ul>li:first-child>a {
    margin-left: 0%;
}
a:link,
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover,
a:active {
    color: rgb(0, 0, 0);
}
.Contact_button {
    margin-top: 2%;
    width: 8.5%;
    background-color: white;
    border-width: 1px;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
    padding: 1%;
}
main {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    gap: 40px;
    background-image: url(../image/Pet-lapka.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 90% 15%;
}
.text_info {
    width: 50%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main_img {
    width: auto;
    margin: 0 30px 25px 0;
    display: flex;
    gap: 30px;
}
.first-line-photo,
.second-line-photo {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
.first-line-photo img,
.second-line-photo img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    margin: 0;
}
.first-line-photo .left {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
.first-line-photo .right {
    border-radius: 50%;
}
.second-line-photo .left {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.second-line-photo .right {
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.hesh-tag {
    font-family: 'Inter Tight', sans-serif;
    font-size: 18px;
    background-color: #fff2e0;
    color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 15px;
    padding: 4px 12px;
    width: 45% !important;
}
.button_class .Book {
    background-color: #FF9900;
    border: 0px;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin-top: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.button_class .Book:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.button_class .Get {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin: 30px 0 0 12px;
    border-width: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.button_class .Get:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.Big-text>span {
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    color: #1B1B1B;
    display: block;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.Big-text {
    width: 630px;
    height: 216px;
}
.text_info>div:nth-child(3) {
    width: 394px;
    height: 52px;
}
.text_info>div:nth-child(3) p {
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #1B1B1B;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0;
}
.like-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    max-height: 64px;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    gap: 37px;
    position: absolute;
    background: #FF9900;

}
.like-footer>ul>li {
    display: flex;
    font-size: 24px;
    margin-right: 10px;
    color: white;
    list-style: none;
}
.like-footer-ul {
    display: flex;
}
.small_lapka {
    max-width: 40px;
    max-height: 40px;
    background-size: 90%;
}
.first-line-img {
    float: right;
    margin-right: 16%;
}
.big-black-cat {
    height: 436px;
    width: 508px;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    padding: 0px 20px 100px 0px;
}
.top-image{
width: 40%;
height: 55%;
border-bottom-right-radius: 180px;
border-bottom-left-radius: 180px;
margin-bottom: 3%;
}
.bottom-left-image{
    width: 40.42%;
    height: 57.71%;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
.bottom-right-image{
    width: 50.42%;
    height: 41.5%;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    margin-top: -18%;
    margin-left: 5%;
}
.Pet-bottom-photo{
    display: flex;
    gap: 24px;
}
.Pet-top-line{
    width: 20%;
    margin: 5% 0 5% 40%;
}
.hesh-tag{
    display: block;
    width: 56.64%;
    margin: 5% 0 5% 0;
}
.Hash_and_text{
    width: 56.64%;
    margin: 5% 0 5% 0;
}
.Text-descr-span{
    display: block;
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #1B1B1B;
}
.underline-img{
    width: 20%;
    height: 10%;
    margin: 5% 0;
    margin-left: 20%;
}
.Pet-text{
    width: 50%;
}
.Pet-photo{
    width: 50%;
}
.Contact_button {
    margin-top: 1%;
    width: 8.5%;
    background-color: white;
    border-width: 1px;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
    padding: 12px 32px 12px 32px;
}
.Pet-service-ul_and-img{
    display: flex;
    justify-content: center;
}
.top_priority_always{
    width: 100%;
    padding-bottom: 5%;
}
.Services-ul{
    list-style: none;
    padding: 0%;
}
.Services-ul>li{
    border-radius: 8px;
    margin-bottom: 3.5%;
    margin-right: 24px;
    padding: 24px;
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.04);

}
.Services-ul>li:first-child{
    background-color: #f7e3c4;
    border: 1px solid #FF9900;
}
.top_priority_always{
    padding-top: 5%;
}
.BIG-text-priority-span{
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    display: block;
}
.top_priority_always-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3% 0;
    width: 100%;
}
.small-text-priority-span{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    display: block;
    color: rgba(27, 27, 27, 1);
}
.Services-Big-span-ul{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
}
.Services-small-span-ul{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.pet-service-img{
    width: 628px;
    height: 508px;
    object-fit: cover;
    border-radius: 24px;
}
.eiwei{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.BIG-text-priority {
    width: 50%;
    margin-left: 7%;
}
.small-text-priority {
    width: 35%;
    padding-top: 0;
    margin-right: 8%;
}
.Pet-service-ul_and-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Services-ul {
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.our_service{
    
    background: url('../image/service-our-service-background.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 94%;
    height: 1024px;
    padding: 3%;
    padding-top: 5%;
    padding-bottom: 1%;
}
.photo-get{
    display: flex;
    
}
.service-our-service-ul-img{
    width: 80px;
    height: 80px;
}
.our_service-ul{
    list-style: none;
}
.our_service-ul>li{
    display: flex;
    gap: 24px;
    border-radius: 24px;
    padding: 21px 12px;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    margin-bottom: 24px;

}
.our_service-ul>li:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.our_service-descr-span{
    display: inline-block;
    gap: 4px;
    border-radius: 44px;
    padding: 4px 24px;
    border: 1px solid rgba(27, 27, 27, 1)
}
.our_service-text-div>div{
    gap: 8px;
}
.our_service-text-div{
    margin-left: 24px;
}
.our_service-ul-BIG-span{
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: rgba(27, 27, 27, 1);
    margin-bottom: 18px;
}
.photo-get{
    background: url('../image/cute-funny-shih-tzu-breed-dog-outdoors-dog-groomi.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 620px;
    height: 799px;
    margin: auto 0;

}
.our_service-main-element{
    width: 91%;
    margin: auto;
    background-color: white;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    padding: 3%;
    gap: 24px;
}
.photo-get>div>div{
    display: flex;
    padding: 24px;
}
.photo-get>div{
    width: 100%;
    display: grid;
    align-content: end;
}
.our_service-main-element-span{
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    color: white;
}
.our_service-BIG-span{
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: rgba(27, 27, 27, 1);
    margin-bottom: 24px;
    margin-left: 8%;

}
.our_service-ul-BIG-span-special{
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #FF9900;
    margin-bottom: 18px;
}
.li-special{
    background-color: #ffebcc;
}
.our_service-text-div>div{
    display: flex;
}
.li-special{
    display: flex;
    gap: 24px;
    border-radius: 24px;
    padding: 21px 12px;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.06);
    background: #ffebcc !important;
    margin-bottom: 24px;
}
.li-special:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.our_service-descr-span-special{
    display: inline-block;
    gap: 4px;
    border-radius: 44px;
    padding: 4px 24px;
    border: 1px solid #FF9900;
    color: #FF9900;
    background: #ffebcc;
}
.our_service-descr-span-special:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.our_service-main-element-arrow-link{
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
}
.our_service-main-element-arrow-link:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.our-servic-get-arrow-get-photo{
    width: 45px;
    height: 45px;
}
.our_service-descr-span:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.our_service-main-element-arrow-link{
    margin-left: 45%;
}
.gallery {
  max-width: 800px;
  padding: 3% 0;
}

.main-image img {
  width: 652px;
  height: 552px;
  object-fit: cover;
  border-radius: 24px;
}

.thumbnails {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}
.thumbnails > img{
    width: 201px;
    height: 215px;
    object-fit: cover;
    border-radius: 24px;
}
.pamper-BIG-text-span{
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
}
.pamper-BIG-text{
    margin-bottom: 5%;
}
.pamper-orange-span{
    font-family: Inter Tight;
font-weight: 400;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
color: rgba(255, 153, 0, 1);
background-color: #ffebcc;
border: 1px solid #FF9900;
border-radius: 44px;
padding: 4px 24px;

}
.pamper-orange{
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}
.pamper-descr-text-span{
    font-family: Inter Tight;
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
}
.pamper-text-links-book{
    margin-bottom: 5%;
    display: flex;
    gap: 8px;
}
.pamper-text-links-book > a{
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: white;
    background-color: #FF9900;
    padding: 12px 24px;
    border-radius: 44px;
}
.pamper-text-links-book > a:hover{
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.pamper-text-links-book>div>a{
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    border: 1px solid black;
    padding: 12px 24px;
    border-radius: 44px;
    color: #ababab;
    margin-top: -1%;
    display: flex;
}
.pamper-text-links-book>div>a:hover{
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.pamper-text-links-book-span-special{
    color: #000000;
}

.pamper-text-links-book>div{
    max-height: 30px;
}
.pamper-small-bottom-arrow{
    width: 24px;
    height: 24px;
}
.text-element {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto; 
    min-height: 80vh;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 3%;

}
.main-element{
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 3%;
}
.pamper-left-arrow-a >img{
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
}
.pamper-left-arrow-a >img:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.pamper-rigth-arrow-a>img{
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
}
.pamper-rigth-arrow-a>img:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.pamper-text-links-arrow{
    display: flex;
    gap: 24px;
    margin-bottom: 10%;
}


.eighth-monit {
    background-image: url('../image/1679878917_papik-pro-p-peizazh-landscape-1.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1024px;
}
.eighth-monit img {
    display: block; 
    width: 100%;
    height: auto;
}
.eight-Big-text{
    padding: 10%;
}
.eight-Big-text-span{
    display: block;
    color: white;
    font-family: 'Inter Tight';
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
}
.eight-small-text-spans{
    margin: 2% 0;
}
.eight-small-text-span{
    color: white;
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
}
.eigth-button{
    font-family: 'Inter Tight';
font-weight: 500;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
color:  #FFFFFF;
width: 140;
height: 50;
gap: 10px;
border-radius: 44px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
background: #FF9900;
border: none;
}
.eigth-button:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.logo-footer{
    width: 103px;
    height: 32px;
}
.lapka_imge {
    display: block;
    width: 100%;
}
.lapka_imge img {
    display: block;
    margin-bottom: 10px;
}
.lapka_imge img :last-child{
    margin-bottom: 0%;
}
.footer-our-messangers-matrix{
    display: flex;
    list-style: none;
}
.footer-our-messangers-matrix-ul{
    list-style: none;
}
.footer-icons{
    display: flex;
}
.footer-icons-img-link-ul{
    display: flex;
    list-style: none;
    gap: 18px;
}
.footer-icons-img-link-ul>li>a>img{
    width: 48px;
    height: 48px;
    border-radius: 12px;
}
.footer-icons-text-span{
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: auto;
}

.footer-our-messangers-matrix-ul-li-a{
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white !important;
}
.footer-text-special{
    background-color:rgba(27, 27, 27, 1);
    border-radius: 24px;
}
.footer-text{
    background-color:rgba(27, 27, 27, 1);
    width: 95%;
    border-radius: 24px;
    margin: auto;

    
}
.button_class .Book {
    background-color: #FF9900;
    border: 0;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin-top: 30px;
    cursor: pointer; 
    transition: 0.3s;
}
.button_class .Book:hover {
    opacity: 0.8; 
    transform: scale(1.05); 
  }
.button_class  .Get{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin: 30px 0 0 12px;
    border-width: 1px;
    cursor: pointer; 
    transition: 0.3s;
    border: 1px solid black;
}
.button_class .Get:hover {
    opacity: 0.8; 
    transform: scale(1.05); 
}
.button_class{
    width: 100%;
    margin: 3% auto;
}